[submodule "uniswap-v2-project"]
	path = uniswap-v2-project
	url = https://github.com/mskhno/uniswap-v2-project
[submodule "dao-project/lib/forge-std"]
	path = dao-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
